@keyframes cascade {
  0% {
    transform: translateY(10px);
    box-shadow: 5px 5px 20px transparent;
    color: transparent;
  }
  100% {
    transform: translateY(0px);
    box-shadow: 5px 5px 20px #7e7e7e;
    color: black;
  }
}
@keyframes bgc_box {
  0% {
    width: 0;
  }
  100% {
    width: 130px;
  }
}
@keyframes checkbox {
  0% {
    font-size: 35px;
    transform: rotate(120deg);
  }
  100% {
    font-size: 35px;
    transform: rotate(360deg);
  }
}
.card--1 {
  animation-delay: 0.15s;
}

.card--2 {
  animation-delay: 0.3s;
}

.card--3 {
  animation-delay: 0.45s;
}

.card--4 {
  animation-delay: 0.6s;
}

.card--5 {
  animation-delay: 0.75s;
}

.card--6 {
  animation-delay: 0.9s;
}

.card--7 {
  animation-delay: 1.05s;
}

.card--8 {
  animation-delay: 1.2s;
}

.card--9 {
  animation-delay: 1.35s;
}

body {
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: Shrikhand;
  src: url("../../fonts/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto_bold;
  src: url("../../fonts/Roboto-Bold.ttf");
}
body {
  font-family: Roboto;
}

h2 {
  font-family: Shrikhand;
  font-size: 50px;
}

h4 {
  font-family: Roboto;
  font-weight: 0;
  font-size: 20px;
  margin: 20px 0px 20px 0px;
}

.categorie--h3 {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 35px;
  }
}
.button--style {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 5px 5px 20px #7e7e7e;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 25px 25px 25px 25px;
  height: 50px;
  width: 220px;
  transform: scale(1);
  transition: all 0.2s;
  cursor: pointer;
}
.button--style:hover {
  transform: scale(1.015);
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 5px 5px 15px #4b4b4b;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 5px 5px 20px #7e7e7e;
  overflow: hidden;
  width: 100%;
  height: 80px;
  margin-bottom: 30px;
  cursor: pointer;
}
.cards__left {
  height: 100%;
  flex-grow: 3;
  width: 100%;
  margin: 30px 0px 0px 15px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
.cards__left--h3 {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px 0px 8px 0px;
}
.cards__left--p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px;
}
.cards__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.cards__right--p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-items: flex-end;
  height: 100%;
  margin: 0px 25px 30px 15px;
  font-weight: bold;
}
.cards__anim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  color: white;
  height: 100%;
  background-color: #99E2D0;
}

.cards {
  animation-name: cascade;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  transform: translateY(10px);
  box-shadow: 5px 5px 20px transparent;
  color: transparent;
}

.cards:hover .cards__anim {
  animation-name: bgc_box;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0.1, 0.29, 0.01, 1.02);
  animation-fill-mode: both;
}
.cards:hover .cards__anim--icon {
  animation-name: checkbox;
  animation-duration: 0.4s;
  animation-timing-function: cubic-bezier(0, 0.93, 0.23, 0.9);
  animation-fill-mode: both;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .cards {
    width: 100%;
  }
}
.content__title--heart {
  font-size: 35px;
  -webkit-text-stroke: 2px black;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  cursor: pointer;
}
.content__title--heart:hover {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  -webkit-text-stroke: 0px black;
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  height: 80px;
}

.header--title {
  flex-grow: 3;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--icon {
  margin-left: 25px;
  color: black;
  cursor: pointer;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgi {
  width: 100%;
  height: 500px;
  background-image: url("../../img/jay.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 80px;
  z-index: auto;
}

.content {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
  padding: 0px 20px 0px 20px;
  width: 90%;
  z-index: 1;
  margin-top: 400px;
}

.content__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.entrees {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: space-between;
  width: 30%;
}
.entrees__cards {
  width: 100%;
}

.content__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categorie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 15px;
}
.categorie--h3 {
  margin: 0px 0px 10px 0px;
}
.categorie--span {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 40px 0px;
}

@media screen and (max-width: 768px) {
  .bgi {
    height: 265px;
  }

  .content {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 230px;
  }
  .content__title {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .categorie {
    margin-left: 20px;
  }

  .content__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .entrees__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cards {
    width: 90%;
  }

  .entrees {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .content__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .entrees {
    width: 100%;
  }

  .entrees__cards {
    width: 100%;
  }
}
footer {
  background-color: #353535;
  width: 100%;
  padding: 20px 0px 20px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer_title {
  margin-left: 25px;
}

.footer_content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_content__box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_content__box--icon {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .footer {
    margin-left: 25px;
  }

  .footer_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    margin-left: 25px;
  }
}

/*# sourceMappingURL=menu_desktop.css.map */
