// Header

header {
    @include display_column(center);
}

// Ttitre
.title {
    width: 100%;
    @include display_flex(center);
    box-shadow: 5px 5px 20px $icon_color;
    z-index: 1;
    &_h1 {
        font-size: 40px;
    }
}

// Localisation
.location {
    @include display_flex(center);
    background-color: #eaeaea;
    z-index: auto;
    height: 50px;
    width: 100%;
    &_icon {
        color: black;
        font-size: 15px;
    }
    &_p {
        margin-left: 20px;
    }
}

// Explorez
.explorer {
    @include display_column(center);
    background-color: #f6f6f6;
    padding: 40px 0px 55px 0px;
    width: 100%;

    &_third_button {
        @include btn();
        &:hover {
            transform: scale(1.015);
            background: linear-gradient(to bottom right, lighten($secondary_color, 2%), lighten($primary_color, 2%));
            box-shadow: 5px 5px 15px darken($icon_color, 20%);
        }
    }
}



                        // VERSION MOBILE

@media screen and (max-width: 768px) {
// Titre 
    .title {
        height: 65px;
        &_h1 {
            font-size: 35px;
        }
    }
// Explorer
    .explorer {
    }

    .explorer_first_title {
        margin: 0px;
        text-align: center;
    }

    .explorer_second {
        margin-bottom: 15px;
        &_p {
            text-align: center;
        }
    }
}



            // VERSION TABLETTE

