// Disposition cartes restaurants

.restaurants {
    @include display_column();

    &_second {
        @include display_flex(space-around);
        flex-wrap: wrap;
        width: 100%;
    }
}


            // VERSION MOBILE


@media screen and (max-width: 768px) {

    .restaurants {
        margin: 0px 20px 0px 20px;
        &_second {
            @include display_column(center);
            margin-bottom: 15px;
        }
    }

}

