// Police menu

@font-face {
    font-family: Shrikhand;
    src: url("../../fonts/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto_bold;
    src: url("../../fonts/Roboto-Bold.ttf");
}

body {
    font-family: Roboto;
}

h2 {
    font-family: Shrikhand;
    font-size: 50px;
}