// Police menu

@font-face {
    font-family: Shrikhand;
    src: url("../fonts/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto_bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto_thin;
    src: url("../fonts/Roboto-Thin.ttf");
}

body {
    font-family: Roboto_thin;
}

h2 {
    font-family: Shrikhand;
    font-size: 50px;
}

h3 {
    font-family: Roboto;
    font-weight: bold;
}

h4 {
    font-family: Shrikhand;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}

.categorie--h3 {
    font-size: 20px;
}

.cards__right--p {
    font-family: Roboto;
}


            // VERSION MOBILE


@media screen and (max-width: 768px) {

    h2 {
        font-size: 35px;
    }
     
}
