// En-tête menu

header {
    @include dsf();
    background: transparent;
    height: 80px;
}

.header--title {
    flex-grow: 3;
    width: 100%;
    @include dsf(center);
}

.header--icon {
    margin-left: 25px;
    color: black;
}


            // VERSION MOBILE





