// Polices

@font-face {
    font-family: Shrikhand;
    src: url("../fonts/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto_bold;
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto_thin;
    src: url("../fonts/Roboto-Thin.ttf");
}


body {
    font-family: Roboto;
}

h1, h4 {
    font-family: Shrikhand;
}

h4 {
    font-size: 20px;
}

.explorer_second_p {
    font-family: Roboto_thin;
}

.contact {
    text-decoration: none;
    color: white;

    &:hover {
        cursor: pointer;
    }
}

.a_restaurants {
    color: black;
    text-decoration: none;
}


