// Cartes de fonctionnement

.fonctionnement_second_card {
    border-radius: 20px 20px 20px 20px;
    box-shadow: 5px 5px 20px $icon_color;
    @include display_flex();
    height: 75px;
    width: 325px;
    margin-bottom: 10px;
    padding-left: 33px;
    position: relative;

    &_icon {
        color: $icon_color;
        margin-right: 27px;
    }

    &_span {
        @include display_flex(center);
        background-color: $primary_color;
        color: white;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        position: absolute;
        left: -12px;
    }
}


            // VERSION MOBILE

@media screen and (max-width: 768px) {

    .fonctionnement_second_card {

        width: 90%;
        margin-bottom: 20px;
    }
    
}


                        // VERSION TABLETTE


@media screen and (min-width: 768px) and (max-width: 991px) {

    .fonctionnement_second_card {
        width: 80%;
        margin-bottom: 40px;
    }

}