// Mixins

@mixin display_flex ($position: flex-start) {
    display: flex;
    justify-content: $position;
    align-items: center;
}

@mixin display_column ($postion: flex-start) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: $postion;
}

@mixin btn {
    background: linear-gradient(to bottom right, $secondary_color, $primary_color);
    box-shadow: 5px 5px 20px $icon_color;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 25px 25px 25px 25px;
    height: 50px;
    width: 220px;
    transform: scale(1);
    transition: all 0.2s;
}

@mixin bgi ($url) {
        background-image: url($url);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 200px;
}

@mixin border {
    border-top: 10px solid $primary_color;
    border-right: 10px solid $tertiary-color;
    border-bottom: 10px solid $secondary_color;
    border-left: 10px solid $tertiary-color;
}