// Keyframes menu

@keyframes cascade {
    
    0% {
        transform: translateY(10px);
        box-shadow: 5px 5px 20px transparent;
        color: transparent;
    }
    100% {
        transform: translateY(0px);
        box-shadow: 5px 5px 20px $icon_color;
        color: black;
    }
}


// **********BGC_CHECKBOX

@keyframes bgc_box {
    
    0% {
        width: 0;
    }

    100% {
        width: 130px;
    }
}








// ***************CHECK-BOX

@keyframes checkbox {
    
    0% {
        font-size: 35px;
        transform: rotate(120deg);
    }

    100% {
        font-size: 35px;
        transform: rotate(360deg);

    }
}